* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

:root {
  font-family: 'Open Sans', sans-serif;

}

body {
   margin: 84px 80px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  margin-bottom: 20px;
}

#page {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
 }

 h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h5 {
  font-size: 16px;
}

section img {
  margin-top: 48px;
}

.section-1 div img {
  margin-bottom: 24px;
}

.section-2 h5 + p,
.section-3 h5 + p {
  margin-bottom: 4px;
  font-weight: bold;
  color: #0C51A7;
  font-size: 16px;
 }

 .section-2 div + h2 {
  margin-bottom: 4px;
 }

 .section-3 div + h2 {
  margin-bottom: 4px;
 }

  .section-4 div + h2 {
  margin-bottom: 4px;
 }

 .section-4 h5 + div {
  font-weight: bold;
 }

 .section-4 {
  margin-bottom: 40px;
 }

 .casais {
  color: #591B98
 }

 .familia {
  color: #E5245E
 }

.orcamento {
  color: #E1624F;
}

.head {
  padding-bottom: 40px;
}

.italico {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #333333;
  padding-bottom: 40px;
}

h4 {
  font-size: 16px;
  color: #E1624F;
  margin-bottom: 8px;
}

#content{
  margin: 64px 0 16px 0;
}

footer {
  padding-top: 40px;
}

